body {
  padding: 20px;
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Cuprum';
}

/** HEADER **/

h1 {
  font-family: 'Amatic SC';
}

/* END HEADER */


/* HOME PAGE */

/* END HOME PAGE */



/* FOOTER */

/* END FOOTER */
