body {
  padding: 20px;
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Cuprum';
}

/** HEADER **/

h1 {
  font-family: 'Amatic SC';
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

/* END HEADER */


/* HOME PAGE */

/* END HOME PAGE */



/* FOOTER */

/* END FOOTER */
