body {
  padding: 20px;
  font-size: 16px;
  font-family: 'Ubuntu';
}

/** HEADER **/

h1 {
  font-family: 'Amatic SC';
}

#header-nav {
  background-color: #F5D0A9;
  border-radius: 0;
  border: 0px;
  border-bottom: 1px solid black;
}

.navbar-brand {
  height: auto;
}

.navbar-brand h1{
  color: black;
  font-weight: bold;
  cursor: pointer;
  margin: 0px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#collapsable-nav {
  border-color: black;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

/* END HEADER */


/* HOME PAGE */

/* END HOME PAGE */



/* FOOTER */

/* END FOOTER */
