<!DOCTYPE html>

<html class="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Lucía Rodrigo Insausti</title>
    <meta name="fragment" content="!">
    <script type="text/javascript" src="js/script1.js"></script>
    <script type="text/javascript" src="js/script2.js"></script>
    <script type="text/javascript" src="js/script3.js"></script>
    <script src="js/require.min.js"></script>
    <script src="js/main-r.min.js"></script><link rel="preconnect" href="http://fonts.googleapis.com/">
    <link rel="stylesheet" href="css/viewer.css">
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="wixCodeInit" src="js/wixCodeInit.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="skins" src="js/skins.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="components" src="js/components.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="core" src="js/core.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="react" src="js/react-with-addons.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="wixappsCore" src="js/wixappsCore.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="wixappsBuilder" src="js/wixappsBuilder.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="lodash" src="js/lodash.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="TimelineMax" src="js/TweenMax.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="layout" src="js/layout.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="coreUtils" src="js/coreUtils.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="tpa" src="js/tpa.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="dataFixer" src="js/dataFixer.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="siteUtils" src="js/siteUtils.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="translationsUtils" src="js/translationsUtils.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="hammer" src="js/hammer.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="fonts" src="js/fonts.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="animations" src="js/animations.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="RemoteModelInterface" src="js/rmi-bundle.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="loggingUtils" src="js/loggingUtils.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="utils" src="js/utils.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="imageClientApi" src="js/imageClientApi.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="swfobject" src="js/swfobject.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="santaProps" src="js/santaProps.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="displayer" src="js/displayer.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="wixUrlParser" src="js/wixUrlParser.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="tweenEngine" src="js/tweenEngine.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="mousetrap" src="js/mousetrap.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="DrawSVGPlugin" src="js/DrawSVGPlugin.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="reactDOM" src="js/react-dom.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="ScrollToPlugin" src="js/ScrollToPlugin.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="widgets" src="js/widgets.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="experiment" src="js/experiment.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="render" src="js/render.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="reactDOMServer" src="js/react-dom-server.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="paginatedGridGallery" src="js/paginatedGridGallery.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="matrixGallery" src="js/matrixGallery.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="galleriesCommon" src="js/galleriesCommon.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="textCommon" src="js/textCommon.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="wPhoto" src="js/wPhoto.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="buttonCommon" src="js/buttonCommon.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="siteButton" src="js/siteButton.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="imageCommon" src="js/imageCommon.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="image" src="js/image.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="zoomedImage" src="js/zoomedImage.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="pinItPinWidget" src="js/pinItPinWidget.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="wRichText" src="js/wRichText.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="popupCloseTextButton" src="js/popupCloseTextButton.min.js"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="clipArt" src="js/clipArt.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="containerCommon" src="js/containerCommon.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="container" src="js/container.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="headerContainer" src="js/headerContainer.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="footerContainer" src="js/footerContainer.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="screenWidthContainer" src="js/screenWidthContainer.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="zepto" src="js/zepto.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="xss" src="js/xss.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="color" src="js/color.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="radioButton" src="js/radioButton.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="datePicker" src="js/datePicker.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="//www.google-analytics.com/analytics.js" src="js/analytics.js"></script>
    <link rel="stylesheet" href="css/general_style.css">
    <link rel="stylesheet" href="css/style.css" id="font_googleFonts">
    <link rel="stylesheet" href="css/latin-ext.css" id="font_latin-ext">
    <link rel="stylesheet" href="css/latin.css" id="font_latin">
</head>

<body data-pinterest-extension-installed="cr1.40" class="">
    <div id="SITE_CONTAINER">
        <div class="noop" data-reactid=".0">
            <div data-reactid=".0.0">
                <div class="testStyles" data-reactid=".0.0.n"></div>
                <div style="overflow:hidden;visibility:hidden;max-height:0;max-width:0;position:absolute;" data-reactid=".0.0.$fontsLoader">
                    <style data-reactid=".0.0.$fontsLoader.0">.font-ruler-content::after {content:"@#$%%^&*~IAO"}</style>
                </div>
            </div>

            <div id="SITE_BACKGROUND" class="siteBackground" style="position: absolute; top: 0px; height: 961px; width: 1585px;" data-reactid=".0.$SITE_BACKGROUND">
                <div id="SITE_BACKGROUND_previous_" class="siteBackgroundprevious" data-reactid=".0.$SITE_BACKGROUND.$noPrev">
                    <div id="SITE_BACKGROUND_previousImage_" class="siteBackgroundpreviousImage" data-reactid=".0.$SITE_BACKGROUND.$noPrev.0"></div>
                    <div id="SITE_BACKGROUNDpreviousVideo" class="siteBackgroundpreviousVideo" data-reactid=".0.$SITE_BACKGROUND.$noPrev.1"></div><div id="SITE_BACKGROUND_previousOverlay_" class="siteBackgroundpreviousOverlay" data-reactid=".0.$SITE_BACKGROUND.$noPrev.2"></div>
                </div>
                <div id="SITE_BACKGROUND_current_mainPage" style="top: 0px; height: 100%; width: 100%; background-color: rgb(255, 255, 255); position: fixed; visibility: inherit; opacity: 1;" class="siteBackgroundcurrent" data-reactid=".0.$SITE_BACKGROUND.$mainPage">
                    <div id="SITE_BACKGROUND_currentImage_mainPage" style="position: absolute; top: 0px; height: 100%; width: 100%;" data-type="bgimage" class="siteBackgroundcurrentImage" data-reactid=".0.$SITE_BACKGROUND.$mainPage.$background_currentImage_fixed" data-image-css="{&quot;backgroundSize&quot;:&quot;&quot;,&quot;backgroundPosition&quot;:&quot;&quot;,&quot;backgroundRepeat&quot;:&quot;&quot;}"></div>
                    <div id="SITE_BACKGROUNDcurrentVideo" class="siteBackgroundcurrentVideo" data-reactid=".0.$SITE_BACKGROUND.$mainPage.1" style="position: relative; min-width: 0px; min-height: 0px; top: 0px; left: 0px;"></div>
                    <div id="SITE_BACKGROUND_currentOverlay_mainPage" style="position: absolute; top: 0px; width: 100%; height: 100%; background-attachment: fixed;" class="siteBackgroundcurrentOverlay" data-reactid=".0.$SITE_BACKGROUND.$mainPage.2"></div>
                </div>
            </div>

            <div class="SITE_ROOT" id="SITE_ROOT" style="width:980px;padding-bottom:40px;" data-reactid=".0.$SITE_ROOT">
                <div id="masterPage" style="width: 980px; position: static; top: 0px; height: 961px;" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot">
                    <div style="width: 980px; position: absolute; top: 0px; height: 142px; left: 0px;" class="s0" data-state=" " id="SITE_HEADER" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER">
                        <div id="SITE_HEADERscreenWidthBackground" class="s0screenWidthBackground" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.0" style="width: 1585px; left: -303px;">
                            <div class="s0_bg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.0.0"></div>
                        </div>
                        <div id="SITE_HEADERcenteredContent" class="s0centeredContent" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1">
                            <div id="SITE_HEADERbg" class="s0bg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.0"></div>
                            <div id="SITE_HEADERinlineContent" class="s0inlineContent" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1">
                                <div style="left: 27px; width: 439px; position: absolute; top: 24px;" class="s1" id="WRchTxt3" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$WRchTxt3">
                                    <h1 class="font_0">
                                        <span style="font-size:40px">
                                            <a href="index.html" target="_self">​​​</a>​Lucía
                                        </span>
                                        <a href="index.html" target="_self">
                                            <span style="font-size:40px">&nbsp;</span>
                                            <span class="color_13">
                                                <span style="font-size:40px">Rodrigo Insausti</span>​
                                            </span>
                                        </a>
                                    </h1>
                                    <h6 class="font_6"><a href="index.html" target="_self"><span class="color_19">PhD in Nanotechnology</span></a></h6>
                                </div>

                                <div id="DrpDwnMn0" data-menuborder-y="0" data-menubtn-border="0" data-ribbon-els="0" data-label-pad="0" data-ribbon-extra="0" style="left: 293px; width: 687px; position: absolute; top: 97px; height: 22px;" class="s2" data-state="right notMobile" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0" data-dropmode="dropDown">
                                    <div style="display: inline-block; text-align: right; overflow: visible; height: 22px;" id="DrpDwnMn0itemsContainer" class="s2itemsContainer" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.0">

                                        <a style="display: inherit; color: grey; width: 86px; height: 22px; position: relative; box-sizing: border-box; overflow: visible;" data-listposition="center" href="index.html" target="_self" class="s2repeaterButton" data-state="menu selected idle link notMobile" id="DrpDwnMn00" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.0.$0" data-original-gap-between-text-and-btn="10">
                                            <div class="s2repeaterButton_gapper" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.0.$0.0">
                                                <div class="s2repeaterButton_wrapper" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.0.$0.0.0">
                                                    <div style="text-align:center;" id="DrpDwnMn00bg" class="s2repeaterButtonbg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.0.$0.0.0.0">
                                                        <p style="text-align: center; line-height: 22px;" id="DrpDwnMn00label" class="s2repeaterButtonlabel" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.0.$0.0.0.0.0">Home</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>

                                        <a style="display: inherit; color: grey; width: 86px; height: 22px; position: relative; box-sizing: border-box; overflow: visible;" data-listposition="center" href="resume.html" target="_self" class="s2repeaterButton" data-state="menu idle link notMobile" id="DrpDwnMn01" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.0.$1" data-original-gap-between-text-and-btn="10">
                                            <div class="s2repeaterButton_gapper" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.0.$1.0">
                                                <div class="s2repeaterButton_wrapper" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.0.$1.0.0">
                                                    <div style="text-align:center;" id="DrpDwnMn01bg" class="s2repeaterButtonbg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.0.$1.0.0.0">
                                                        <p style="text-align: center; line-height: 22px;" id="DrpDwnMn01label" class="s2repeaterButtonlabel" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.0.$1.0.0.0.0">Resume</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>

                                        <a style="display: inherit; color: grey; width: 86px; height: 22px; position: relative; box-sizing: border-box; overflow: visible;" data-listposition="center" href="research.html" target="_self" class="s2repeaterButton" data-state="menu  idle link notMobile" id="DrpDwnMn02" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.0.$2" data-original-gap-between-text-and-btn="11">
                                            <div class="s2repeaterButton_gapper" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.0.$2.0">
                                                <div class="s2repeaterButton_wrapper" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.0.$2.0.0">
                                                    <div style="text-align:center;" id="DrpDwnMn02bg" class="s2repeaterButtonbg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.0.$2.0.0.0">
                                                        <p style="text-align: center; line-height: 22px;" id="DrpDwnMn02label" class="s2repeaterButtonlabel" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.0.$2.0.0.0.0">Research</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>

                                        <a style="display: inherit; color: grey; width: 86px; height: 22px; position: relative; box-sizing: border-box; overflow: visible;" data-listposition="center" href="interests.html" target="_self" class="s2repeaterButton" data-state="menu  idle link notMobile" id="DrpDwnMn03" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.0.$3" data-original-gap-between-text-and-btn="11">
                                            <div class="s2repeaterButton_gapper" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.0.$3.0">
                                                <div class="s2repeaterButton_wrapper" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.0.$3.0.0">
                                                    <div style="text-align:center;" id="DrpDwnMn03bg" class="s2repeaterButtonbg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.0.$3.0.0.0">
                                                        <p style="text-align: center; line-height: 22px;" id="DrpDwnMn03label" class="s2repeaterButtonlabel" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.0.$3.0.0.0.0">Interests</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>

                                        <a style="display: inherit; color: grey; width: 86px; height: 22px; position: relative; box-sizing: border-box; overflow: visible;" data-listposition="right" href="contact.html" target="_self" class="s2repeaterButton" data-state="menu  idle link notMobile" id="DrpDwnMn04" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.0.$4" data-original-gap-between-text-and-btn="10">
                                            <div class="s2repeaterButton_gapper" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.0.$4.0">
                                                <div class="s2repeaterButton_wrapper" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.0.$4.0.0">
                                                    <div style="text-align:center;" id="DrpDwnMn04bg" class="s2repeaterButtonbg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.0.$4.0.0.0">
                                                        <p style="text-align: center; line-height: 22px;" id="DrpDwnMn04label" class="s2repeaterButtonlabel" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.0.$4.0.0.0.0">Contact</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>

                                        <a style="display: inline-block; box-sizing: border-box; color: grey; height: 0px; overflow: hidden; position: absolute;" data-listposition="right" class="s2repeaterButton" data-state="menu  idle header notMobile" id="DrpDwnMn0__more__" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.0.5" data-original-gap-between-text-and-btn="11">
                                            <div class="s2repeaterButton_gapper" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.0.5.0">
                                                <div class="s2repeaterButton_wrapper" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.0.5.0.0">
                                                    <div style="text-align:center;" id="DrpDwnMn0__more__bg" class="s2repeaterButtonbg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.0.5.0.0.0">
                                                        <p style="line-height:22px;text-align:center;" id="DrpDwnMn0__more__label" class="s2repeaterButtonlabel" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.0.5.0.0.0.0">More</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div id="DrpDwnMn0moreButton" class="s2moreButton" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.1"></div>

                                    <div style="visibility: hidden; left: auto; right: 344px; bottom: auto;" data-drophposition="" data-dropalign="right" id="DrpDwnMn0dropWrapper" class="s2dropWrapper" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.2">
                                        <div style="visibility: hidden; left: auto; right: 344px;" id="DrpDwnMn0moreContainer" class="s2moreContainer" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.1.1.$DrpDwnMn0.2.0"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="width: 980px; position: absolute; top: 142px; height: 722px; left: 0px;" class="s3" data-state="" id="PAGES_CONTAINER" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER">
                        <div id="PAGES_CONTAINERscreenWidthBackground" class="s3screenWidthBackground" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.0" style="width: 1585px; left: -303px;"></div>
                        <div id="PAGES_CONTAINERcenteredContent" class="s3centeredContent" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1">
                            <div id="PAGES_CONTAINERbg" class="s3bg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.0"></div>
                            <div id="PAGES_CONTAINERinlineContent" class="s3inlineContent" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1">
                                <div style="left: 0px; width: 980px; position: absolute; top: 0px; height: 722px;" class="s4" id="SITE_PAGES" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES">
                                    <div style="left: 0px; width: 980px; position: absolute; top: 0px; height: 722px;" class="s7" id="mainPage" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage">
                                        <div id="mainPagebg" class="s7bg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.0"></div>
                                        <div id="mainPageinlineContent" class="s7inlineContent" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1">
                                            <div style="left: 30px; width: 920px; position: absolute; top: 52px; height: 506px;" class="s8" id="Cntnr1" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$Cntnr1">
                                                <div id="Cntnr1bg" class="s8bg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$Cntnr1.0"></div>
                                                <div id="Cntnr1inlineContent" class="s8inlineContent" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$Cntnr1.1">

                                                    <div style="left: 40px; position: absolute; top: 37px; width: 352px; height: 373px;" data-exact-height="373" data-content-padding-horizontal="0" data-content-padding-vertical="0" title="Misty Slopes" class="s9" id="WPhtg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$Cntnr1.1.$WPhtg">
                                                        <div style="width: 352px; height: 373px;" id="WPhtglink" class="s9link" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$Cntnr1.1.$WPhtg.0">
                                                            <div style="position: relative; width: 352px; height: 373px;" id="WPhtgimg" class="s9img" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$Cntnr1.1.$WPhtg.0.0">
                                                                <div class="s9imgpreloader" id="WPhtgimgpreloader" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$Cntnr1.1.$WPhtg.0.0.0"></div>
                                                                <img id="WPhtgimgimage" alt="" src="img/99ec98fdb81945c29c25a3ad6c5606b1.jpg" style="width: 352px; height: 373px; object-fit: cover;" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$Cntnr1.1.$WPhtg.0.0.$image">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div style="left: 734px; width: 151px; position: absolute; top: 34px;" class="s1" id="WRchTxt2b" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$Cntnr1.1.$WRchTxt2b">
                                                        <p class="font_8">
                                                        <span class="color_19">Available for:</span></p>
                                                        <p class="font_8">Project Management</p>
                                                        <p class="font_8">Consulting</p>
                                                        <p class="font_8">Marketing Strategy</p>
                                                        <p class="font_8">Business Intelligence</p>
                                                        <p class="font_7">&nbsp;</p>
                                                        <p class="font_8" style="line-height:1.3em"><span class="color_19"><span>﻿Website:</span></span></p>
                                                        <p class="font_8" style="line-height:1.3em"><span>﻿<object height="0"><a class="auto-generated-link" data-auto-recognition="true" data-content="www.luciarodrigoinsausti.com" href="http://www.luciarodrigoinsausti.com/" target="_blank" data-type="external">www.luciarodrigoinsausti.com</a></object></span></p>
                                                        <p class="font_7">&nbsp;</p>
                                                        <p class="font_8" style="line-height:1.3em"><span class="color_19"><span>﻿Cell:</span></span></p>
                                                        <p class="font_8" style="line-height:1.3em"><span>(+34) 676 23 05 54</span></p>
                                                        <p class="font_7">&nbsp;</p>
                                                        <p class="font_8" style="line-height:1.3em"><span class="color_19"><span>Email:&nbsp;</span></span></p>
                                                        <p class="font_8" style="line-height:1.3em"><span>﻿<object height="0"><a class="auto-generated-link" data-auto-recognition="true" data-content="luciarodrigoinsausti@gmail.com" href="mailto:luciarodrigoinsausti@gmail.com" data-type="mail">luciarodrigoinsausti@gmail.com</a></object></span></p>
                                                        <p class="font_7">&nbsp;</p>
                                                        <p class="font_8" style="line-height:1.3em">&nbsp;</p>
                                                        <p class="font_8" style="line-height:1.3em"><span class="color_19"><span>Social links:</span></span></p>
                                                    </div>
                                                    <div style="left: 427px; width: 283px; position: absolute; top: 30px;" class="s1" id="WRchTxtj" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$Cntnr1.1.$WRchTxtj">
                                                        <h3 style="line-height: 0.9em;" class="font_3"><span class="color_19"><span style="line-height:0.9em;">HELLO,</span></span></h3>
                                                        <h5 class="font_5"><span class="color_19">I'm available for work.</span></h5>
                                                        <p class="font_8">&nbsp;</p>
                                                        <p class="font_8">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</p>
                                                    </div>

                                                    <div id="StBttn0" data-align="center" data-disabled="false" data-margin="0" data-should-use-flex="true" style="left: 427px; position: absolute; top: 341px; height: 30px; min-height: 19px; width: 136px;" class="s10" data-state="desktop shouldUseFlex center" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$Cntnr1.1.$StBttn0" data-prev-text="Scientific CV" data-prev-min-width="80" data-prev-width="136">
                                                        <a href="http://media.wix.com/ugd/568084_fbce2080b4544144863f3045e9b967cc.docx?dn=Placeholder.docx" target="_blank" data-type="document" id="StBttn0link" class="g-transparent-a s10link" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$Cntnr1.1.$StBttn0.0">
                                                            <span id="StBttn0label" class="s10label" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$Cntnr1.1.$StBttn0.0.0">Scientific CV</span>
                                                        </a>
                                                    </div>

                                                    <!-- SOCIAL MEDIA BUTTONS -->
                                                    <div style="width: 84px; left: 734px; position: absolute; visibility: inherit; top: 414px; height: 36px;" class="s11" id="comp-igqazz3g" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$Cntnr1.1.$comp-igqazz3g">
                                                        <div id="comp-igqazz3gitemsContainer" class="s11itemsContainer" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$Cntnr1.1.$comp-igqazz3g.0">
                                                            <div style="width:36px;height:36px;margin-bottom:0;margin-right:12px;display:inline-block;" class="s11imageItem" id="comp-igqazz3gdataItem-itsl23ef" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$Cntnr1.1.$comp-igqazz3g.0.0">
                                                                <a href="https://www.linkedin.com/in/luciarodrigo" target="_blank" data-content="https://www.linkedin.com/in/luciarodrigo" data-type="external" id="comp-igqazz3gdataItem-itsl23eflink" class="s11imageItemlink" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$Cntnr1.1.$comp-igqazz3g.0.0.0">
                                                                    <div style="position:absolute;width:36px;height:36px;" id="comp-igqazz3gdataItem-itsl23efimage" class="s11imageItemimage" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$Cntnr1.1.$comp-igqazz3g.0.0.0.0">
                                                                        <div class="s11imageItemimagepreloader" id="comp-igqazz3gdataItem-itsl23efimagepreloader" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$Cntnr1.1.$comp-igqazz3g.0.0.0.0.0"></div>
                                                                        <img id="comp-igqazz3gdataItem-itsl23efimageimage" alt="" src="img/aa0402eb9ba2430d9d0620b59556efca.png" style="width:36px;height:36px;object-fit:cover;" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$Cntnr1.1.$comp-igqazz3g.0.0.0.0.$image">
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <div style="width:36px;height:36px;margin-bottom:0;margin-right:12px;display:inline-block;" class="s11imageItem" id="comp-igqazz3gdataItem-itsl23ef2" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$Cntnr1.1.$comp-igqazz3g.0.1">
                                                                <a href="https://scholar.google.es/citations?hl=es&amp;user=yZCR2gEAAAAJ" target="_blank" data-content="https://scholar.google.es/citations?hl=es&amp;user=yZCR2gEAAAAJ" data-type="external" id="comp-igqazz3gdataItem-itsl23ef2link" class="s11imageItemlink" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$Cntnr1.1.$comp-igqazz3g.0.1.0">
                                                                    <div style="position:absolute;width:36px;height:36px;" id="comp-igqazz3gdataItem-itsl23ef2image" class="s11imageItemimage" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$Cntnr1.1.$comp-igqazz3g.0.1.0.0">
                                                                        <div class="s11imageItemimagepreloader" id="comp-igqazz3gdataItem-itsl23ef2imagepreloader" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$Cntnr1.1.$comp-igqazz3g.0.1.0.0.0"></div>
                                                                        <img id="comp-igqazz3gdataItem-itsl23ef2imageimage" alt="" src="img/568084_06754df3f47b4ceba5c434a1d1151022-mv2.png" style="width:36px;height:36px;object-fit:cover;" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$Cntnr1.1.$comp-igqazz3g.0.1.0.0.$image">
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div id="comp-itsl7r2p" data-align="center" data-disabled="false" data-margin="0" data-should-use-flex="true" style="left: 427px; position: absolute; top: 380px; height: 30px; min-height: 19px; width: 136px;" class="s10" data-state="desktop shouldUseFlex center" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$Cntnr1.1.$comp-itsl7r2p" data-prev-text="Business CV" data-prev-min-width="80" data-prev-width="136">
                                                        <a href="http://media.wix.com/ugd/568084_fbce2080b4544144863f3045e9b967cc.docx?dn=Placeholder.docx" target="_blank" data-type="document" id="comp-itsl7r2plink" class="g-transparent-a s10link" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$Cntnr1.1.$comp-itsl7r2p.0">
                                                            <span id="comp-itsl7r2plabel" class="s10label" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$Cntnr1.1.$comp-itsl7r2p.0.0">Business CV</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div style="left: 29px; width: 280px; position: absolute; top: 602px;" class="s1" id="WRchTxt2d" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$WRchTxt2d">
                                                <p style="line-height: 1.3em;" class="font_7"><span class="color_19"><span style="line-height: 1.3em;">TESTIMONIAL</span></span></p>
                                                <p style="line-height: 1em;" class="font_7">&nbsp;</p>
                                                <p class="font_8">“I'm a testimonial. Click to edit me and add text that says something nice about you and your services. Let your customers review you.”</p>
                                            </div>
                                            <div style="left: 327px; width: 5px; position: absolute; top: 607px; height: 115px;" class="s12" id="VrtclLn0" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$VrtclLn0">
                                                <div id="VrtclLn0line" class="s12line" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$VrtclLn0.0"></div>
                                            </div>
                                            <div style="left: 352px; width: 285px; position: absolute; top: 603px;" class="s1" id="WRchTxt2h" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$WRchTxt2h">
                                                <p style="line-height: 1.3em;" class="font_7"><span class="color_19"><span style="line-height: 1.3em;">FAVORITE QUOTE</span></span></p>
                                                <p style="line-height: 0.9em;" class="font_7">&nbsp;</p>
                                                <p class="font_8">"I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you."</p>
                                            </div>
                                            <div style="left: 660px; width: 5px; position: absolute; top: 607px; height: 115px;" class="s12" id="VrtclLn1" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$VrtclLn1">
                                                <div id="VrtclLn1line" class="s12line" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$VrtclLn1.0"></div>
                                            </div>
                                            <div style="left: 685px; width: 270px; position: absolute; top: 603px;" class="s1" id="WRchTxt2k" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$WRchTxt2k">
                                                <p style="line-height: 1.3em;" class="font_7"><span class="color_19"><span style="line-height: 1.3em;">RECENT PROJECT</span></span></p>
                                                <p style="line-height: 0.9em;" class="font_7">&nbsp;</p>
                                                <p class="font_8">I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="left: 0px; width: 980px; position: absolute; top: 0px; height: 1411px; display: none;" class="s13" id="c18h9" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c18h9">
                                        <div id="c18h9bg" class="s13bg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c18h9.0"></div>
                                        <div id="c18h9inlineContent" class="s13inlineContent" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c18h9.1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width: 980px; position: absolute; left: 0px; height: 97px; bottom: auto; top: 864px;" class="s5_footer s5" data-state=" " id="SITE_FOOTER" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER">
                        <div id="SITE_FOOTERscreenWidthBackground" class="s5screenWidthBackground" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.0" style="width: 1585px; left: -303px;"></div>
                        <div id="SITE_FOOTERcenteredContent" class="s5centeredContent" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1">
                            <div id="SITE_FOOTERbg" class="s5bg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.0"></div>
                            <div id="SITE_FOOTERinlineContent" class="s5inlineContent" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1">
                                <div style="position: absolute; top: 50px; height: 5px; left: -303px; width: 1585px;" class="s6" id="comp-igqaitgy" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-igqaitgy">
                                    <div id="comp-igqaitgyline" class="s6line" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-igqaitgy.0"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <noscript data-reactid=".0.5"></noscript>
        <div data-reactid=".0.$siteAspectsContainer"></div>
        <noscript data-reactid=".0.7"></noscript>
        </div>
    </div>
</body>

</html>