<!--<meta name="fb_admins_meta_tag" content="">
    <link rel="shortcut icon" href="http://www.wix.com/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="http://www.wix.com/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-Wix-Renderer-Server" content="app201.vac.aws">
    <meta http-equiv="X-Wix-Meta-Site-Id" content="1a12d44b-44d3-4533-95a8-ce6a44e7ce94">
    <meta http-equiv="X-Wix-Application-Instance-Id" content="71f92818-5c7a-44ef-9910-9e21dcec881d">
    <meta http-equiv="X-Wix-Published-Version" content="9">
    <meta http-equiv="etag" content="bfe5961108dfa819e9b83940f424b217">
    <meta property="og:title" content="Lucía Rodrigo Insausti">
    <meta property="og:type" content="article">
    <meta property="og:url" content="index.html">
    <meta property="og:site_name" content="Lucía Rodrigo Insausti">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta id="wixMobileViewport" name="viewport" content="width=980, user-scalable=yes">-->

<!--<script>
    // BEAT MESSAGE
    try {
        window.wixBiSession = {
            initialTimestamp : Date.now(),
            viewerSessionId: 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c)
                    { var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8); return v.toString(16); }
            )
        };
        (new Image()).src = 'http://frog.wix.com/bt?src=29&evid=3&pn=1&et=1&v=1.1752.27&msid=1a12d44b-44d3-4533-95a8-ce6a44e7ce94&vsi=' + wixBiSession.viewerSessionId +
                '&url=' + encodeURIComponent(location.href.replace(/^http(s)?:\/\/(www\.)?/, '')) +
                '&isp=0&st=2&ts=0&c=' + wixBiSession.initialTimestamp;
    } catch (e){}
    // BEAT MESSAGE END
</script>-->
