/* LRI */

.customfont {font-size:38px;}

/* data-reactid=".0.0.$theme_fonts" */

.font_0 {font: normal normal normal 51px/1.1em helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif ;color:#72AB00;} 
.font_1 {font: normal normal normal 14px/1.1em helvetica-w01-light,helvetica-w02-light,sans-serif ;color:#494949;} 
.font_2 {font: normal normal normal 44px/1.1em helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif ;color:#72AB00;} 
.font_3 {font: normal normal normal 70px/1.1em helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif ;color:#494949;} 
.font_4 {font: normal normal normal 44px/1.3em helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif ;color:#494949;} 
.font_5 {font: normal normal normal 25px/1.2em helvetica-w01-light,helvetica-w02-light,sans-serif ;color:#494949;} 
.font_6 {font: normal normal normal 20px/1.3em helvetica-w01-light,helvetica-w02-light,sans-serif ;color:#494949;} 
.font_7 {font: normal normal normal 17px/1.3em helvetica-w01-light,helvetica-w02-light,sans-serif ;color:#494949;} 
.font_8 {font: normal normal normal 15px/1.3em helvetica-w01-light,helvetica-w02-light,sans-serif ;color:#494949;} 

/* data-reactid=".0.0.$theme_colors" */

.color_0 {color: #F8F8F8;}
.backcolor_0 {background-color: #F8F8F8;}
.color_1 {color: #FFFFFF;}
.backcolor_1 {background-color: #FFFFFF;}
.color_2 {color: #000000;}
.backcolor_2 {background-color: #000000;}
.color_3 {color: #0088CB;}
.backcolor_3 {background-color: #0088CB;}
.color_4 {color: #FFCB05;}
.backcolor_4 {background-color: #FFCB05;}
.color_5 {color: #ED1C24;}
.backcolor_5 {background-color: #ED1C24;}
.color_6 {color: #888888;}
.backcolor_6 {background-color: #888888;}
.color_7 {color: #0089AD;}
.backcolor_7 {background-color: #0089AD;}
.color_8 {color: #FFFFFF;}
.backcolor_8 {background-color: #FFFFFF;}
.color_9 {color: #0089AD;}
.backcolor_9 {background-color: #0089AD;}
.color_10 {color: #00D7FE;}
.backcolor_10 {background-color: #00D7FE;}
.color_11 {color: #FFFFFF;}
.backcolor_11 {background-color: #FFFFFF;}
.color_12 {color: #F8F8F8;}
.backcolor_12 {background-color: #F8F8F8;}
.color_13 {color: #9A9A9A;}
.backcolor_13 {background-color: #9A9A9A;}
.color_14 {color: #494949;}
.backcolor_14 {background-color: #494949;}
.color_15 {color: #000000;}
.backcolor_15 {background-color: #000000;}
.color_16 {color: #D6EAAF;}
.backcolor_16 {background-color: #D6EAAF;}
.color_17 {color: #BDD58E;}
.backcolor_17 {background-color: #BDD58E;}
.color_18 {color: #A0C060;}
.backcolor_18 {background-color: #A0C060;}
.color_19 {color: #72AB00;}
.backcolor_19 {background-color: #72AB00;}
.color_20 {color: #395500;}
.backcolor_20 {background-color: #395500;}
.color_21 {color: #FFEBAA;}
.backcolor_21 {background-color: #FFEBAA;}
.color_22 {color: #FFE180;}
.backcolor_22 {background-color: #FFE180;}
.color_23 {color: #FFC400;}
.backcolor_23 {background-color: #FFC400;}
.color_24 {color: #AA8200;}
.backcolor_24 {background-color: #AA8200;}
.color_25 {color: #554100;}
.backcolor_25 {background-color: #554100;}
.color_26 {color: #AAE2FF;}
.backcolor_26 {background-color: #AAE2FF;}
.color_27 {color: #7FD4FF;}
.backcolor_27 {background-color: #7FD4FF;}
.color_28 {color: #00A9FF;}
.backcolor_28 {background-color: #00A9FF;}
.color_29 {color: #0071A9;}
.backcolor_29 {background-color: #0071A9;}
.color_30 {color: #003854;}
.backcolor_30 {background-color: #003854;}
.color_31 {color: #EFAB9F;}
.backcolor_31 {background-color: #EFAB9F;}
.color_32 {color: #E08170;}
.backcolor_32 {background-color: #E08170;}
.color_33 {color: #D11F00;}
.backcolor_33 {background-color: #D11F00;}
.color_34 {color: #8B1400;}
.backcolor_34 {background-color: #8B1400;}
.color_35 {color: #450A00;}
.backcolor_35 {background-color: #450A00;}

/* data-reactid=".0.0.$s0" */

.s0[data-state~="mobileView"] {position:absolute !important;}
.s0[data-state~="fixedPosition"] {position:fixed !important;left:auto !important;z-index:50;}
.s0[data-state~="fixedPosition"].s0_footer {top:auto;bottom:0;}
.s0_bg {position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(0, 0, 0, 1);  border-top:0px solid rgba(114, 171, 0, 1);border-bottom:2px solid rgba(114, 171, 0, 1);}
.s0[data-state~="mobileView"] .s0bg {left:10px;right:10px;}
.s0bg {position:absolute;top:0px;right:0;bottom:2px;left:0;background-color:rgba(0, 0, 0, 1);border-radius:0;}
.s0inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;}
.s0centeredContent {position:absolute;top:0;right:0;bottom:0;left:0;}
.s0screenWidthBackground {position:absolute;top:0;right:0;bottom:0;left:0;}

/* data-reactid=".0.0.$s1" */

.s1 {word-wrap:break-word;}
.s1_override-left * {text-align:left !important;}
.s1_override-right * {text-align:right !important;}
.s1_override-center * {text-align:center !important;}
.s1_override-justify * {text-align:justify !important;}
.s1 li {font-style:inherit;font-weight:inherit;line-height:inherit;letter-spacing:normal;}
.s1 ol,.s1 ul {padding-left:1.3em;padding-right:0;margin-left:0.5em;margin-right:0;line-height:normal;letter-spacing:normal;}
.s1 ol[class~="wix-list"],.s1 ul[class~="wix-list"] {padding-left:0;padding-right:0;}
.s1 ol[class~="wix-list"] li,.s1 ul[class~="wix-list"] li {margin-left:1.3em;margin-right:0;}
.s1 ol[class~="wix-list"][dir="rtl"],.s1 ul[class~="wix-list"][dir="rtl"] {padding-left:0;padding-right:0;}
.s1 ol[class~="wix-list"][dir="rtl"] li,.s1 ul[class~="wix-list"][dir="rtl"] li {margin-left:0;margin-right:1.3em;}
.s1 ul {list-style-type:disc;}
.s1 ol {list-style-type:decimal;}
.s1 ul ul,.s1 ol ul {list-style-type:circle;}
.s1 ul ul ul,.s1 ol ul ul {list-style-type:square;}
.s1 ul ol ul,.s1 ol ol ul {list-style-type:square;}
.s1 ul[dir="rtl"],.s1 ol[dir="rtl"] {padding-left:0;padding-right:1.3em;margin-left:0;margin-right:0.5em;}
.s1 ul[dir="rtl"] ul,.s1 ul[dir="rtl"] ol,.s1 ol[dir="rtl"] ul,.s1 ol[dir="rtl"] ol {padding-left:0;padding-right:1.3em;margin-left:0;margin-right:0.5em;}
.s1 p {margin:0;line-height:normal;letter-spacing:normal;}
.s1 h1 {margin:0;line-height:normal;letter-spacing:normal;}
.s1 h2 {margin:0;line-height:normal;letter-spacing:normal;}
.s1 h3 {margin:0;line-height:normal;letter-spacing:normal;}
.s1 h4 {margin:0;line-height:normal;letter-spacing:normal;}
.s1 h5 {margin:0;line-height:normal;letter-spacing:normal;}
.s1 h6 {margin:0;line-height:normal;letter-spacing:normal;}
.s1 a {color:inherit;}

/* data-reactid=".0.0.$s2" */
.s2itemsContainer {width:calc(100% - 0px);white-space:nowrap;position:relative;overflow:hidden;}
.s2moreContainer {overflow:visible;display:inherit;white-space:nowrap;width:auto;}
.s2dropWrapper {z-index:99999;display:block;opacity:1;visibility:hidden;position:absolute;margin-top:7px;padding:15px 5px 0 5px;background-color:rgba(0, 0, 0, 1);border-radius:0;  }
.s2[data-dropmode="dropUp"] .s2dropWrapper {margin-top:0;margin-bottom:7px;}
.s2repeaterButton {height:100%;position:relative;box-sizing:border-box;display:inline-block;}
.s2repeaterButton[data-state~="header"] a,.s2repeaterButton[data-state~="header"] div {cursor:default !important;}
.s2repeaterButton_gapper {padding:0 5px;}
.s2repeaterButton_wrapper {cursor:pointer;font:normal normal normal 14px/1.1em helvetica-w01-light,helvetica-w02-light,sans-serif ;  border-top:1px solid rgba(154, 154, 154, 1);}
.s2repeaterButtonlabel {color:#9A9A9A;display:inline-block;padding:8px;}
.s2repeaterButton[data-listposition="left"] {padding-left:0;}
.s2repeaterButton[data-listposition="right"] {padding-right:0;}
.s2repeaterButton[data-state~="drop"] {width:100%;display:block;}
.s2repeaterButton[data-state~="over"] .s2repeaterButton_wrapper {border-top-width:4px;border-top-color:rgba(114, 171, 0, 1);}
.s2repeaterButton[data-state~="over"] .s2repeaterButtonlabel {color:#72AB00;display:inline-block;padding-top:5px;}
.s2repeaterButton[data-state~="selected"] .s2repeaterButton_wrapper {border-top-width:4px;border-top-color:rgba(114, 171, 0, 1);}
.s2repeaterButton[data-state~="selected"] .s2repeaterButtonlabel {color:#72AB00;display:inline-block;padding-top:5px;}

/* data-reactid=".0.0.$s3" */
.s3screenWidthBackground {position:absolute;top:0;right:0;bottom:0;left:0;}
.s3[data-state~="mobileView"] {position:absolute !important;}
.s3[data-state~="fixedPosition"] {position:fixed !important;left:auto !important;z-index:50;}
.s3[data-state~="fixedPosition"].s3_footer {top:auto;bottom:0;}
.s3bg {position:absolute;top:0;right:0;bottom:0;left:0;}
.s3inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;}
.s3centeredContent {position:absolute;top:0;right:0;bottom:0;left:0;}

/* data-reactid=".0.0.$s4" */
.s4 {height:100px;width:100px;}
.s4overlay {position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(0, 0, 0, 0.664);}
.s4inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;}

/* data-reactid=".0.0.$s5" */
.s5screenWidthBackground {position:absolute;top:0;right:0;bottom:0;left:0;}
.s5[data-state~="mobileView"] {position:absolute !important;}
.s5[data-state~="fixedPosition"] {position:fixed !important;left:auto !important;z-index:50;}
.s5[data-state~="fixedPosition"].s5_footer {top:auto;bottom:0;}
.s5bg {position:absolute;top:0;right:0;bottom:0;left:0;}
.s5inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;}
.s5centeredContent {position:absolute;top:0;right:0;bottom:0;left:0;}

/* data-reactid=".0.0.$s6" */
.s6 {border-bottom:1px solid rgba(154, 154, 154, 0.45);height:0 !important;min-height:0 !important;}

/* data-reactid=".0.0.$s7" */
.s7bg {position:absolute;top:0;right:0;bottom:0;left:0;}
.s7[data-state~="mobileView"] .s7bg {left:10px;right:10px;}
.s7inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;}

/* data-reactid=".0.0.$s8" */
.s8bg {border:1px solid rgba(154, 154, 154, 0.46);background-color:rgba(248, 248, 248, 1);border-radius:5px;  }
.s8inlineContent,.s8bg {position:absolute;top:0;right:0;bottom:0;left:0;}

/* data-reactid=".0.0.$s9" */
.s9_zoomedin {cursor:url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/cursor_zoom_out.png), url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/cursor_zoom_out.cur), auto;overflow:hidden;display:block;}
.s9_zoomedout {cursor:url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/cursor_zoom_in.png), url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/cursor_zoom_in.cur), auto;}
.s9link {display:block;  border-radius:50%;border:0px solid rgba(255, 255, 255, 1);background-color:rgba(255, 255, 255, 1);overflow:hidden;}
.s9img {border-radius:50%;overflow:hidden;}
.s9imgimage {position:static;box-shadow:#000 0 0 0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}

/* data-reactid=".0.0.$s10" */
.s10[data-state~="shouldUseFlex"] .s10link,.s10[data-state~="shouldUseFlex"] .s10labelwrapper {text-align:initial;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center;}
.s10[data-state~="shouldUseFlex"][data-state~="center"] .s10link,.s10[data-state~="shouldUseFlex"][data-state~="center"] .s10labelwrapper {-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;}
.s10[data-state~="shouldUseFlex"][data-state~="left"] .s10link,.s10[data-state~="shouldUseFlex"][data-state~="left"] .s10labelwrapper {-webkit-box-pack:start;-webkit-justify-content:flex-start;justify-content:flex-start;}
.s10[data-state~="shouldUseFlex"][data-state~="right"] .s10link,.s10[data-state~="shouldUseFlex"][data-state~="right"] .s10labelwrapper {-webkit-box-pack:end;-webkit-justify-content:flex-end;justify-content:flex-end;}
.s10link {border-radius:20px;  position:absolute;top:0;right:0;bottom:0;left:0;transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;  }
.s10label {font:normal normal normal 14px/1.4em raleway,sans-serif;  transition: color 0.4s ease 0s;  color:#FFFFFF;display:inline-block;margin:calc(-1 * 0px) 0px 0;position:relative;white-space:nowrap;}
.s10[data-state~="shouldUseFlex"] .s10label {margin:0;}
.s10[data-disabled="false"] .s10link {background-color:rgba(61, 155, 233, 1);border:solid rgba(43, 104, 156, 1) 0px;cursor:pointer !important;}
.s10[data-disabled="false"]:active[data-state~="mobile"] .s10link,.s10[data-disabled="false"]:hover[data-state~="desktop"] .s10link {background-color:rgba(43, 104, 156, 1);border-color:rgba(61, 155, 233, 1);}
.s10[data-disabled="false"]:active[data-state~="mobile"] .s10label,.s10[data-disabled="false"]:hover[data-state~="desktop"] .s10label {color:#FFFFFF;}
.s10[data-disabled="true"] .s10link {background-color:rgba(204, 204, 204, 1);border-color:rgba(204, 204, 204, 1);}
.s10[data-disabled="true"] .s10label {color:#FFFFFF;}

/* data-reactid=".0.0.$s11" */
.s11itemsContainer {position:absolute;width:100%;height:100%;white-space:nowrap;}
.s11itemsContainer > div:last-child {margin:0 !important;}
.s11[data-state~="mobileView"] .s11itemsContainer {position:absolute;width:100%;height:100%;white-space:normal;}
.s11imageItemlink {cursor:pointer;}
.s11imageItemimageimage {position:static;box-shadow:#000 0 0 0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}

/* data-reactid=".0.0.$s12" */
.s12 {border-left:1px solid rgba(154, 154, 154, 0.46);margin-left:-0.5px;width:0 !important;min-width:0 !important;}

/* data-reactid=".0.0.$s13" */
.s13bg {overflow:hidden;position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(255, 255, 255, 0.32);}
.s13[data-state~="mobileView"] .s13bg {left:10px;right:10px;}
.s13inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;bottom:20px;}

/* data-reactid=".0.0.$s14" */
.s14_zoomedin {cursor:url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/cursor_zoom_out.png), url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/cursor_zoom_out.cur), auto;overflow:hidden;display:block;}
.s14_zoomedout {cursor:url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/cursor_zoom_in.png), url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/cursor_zoom_in.cur), auto;}
.s14link {display:block;border-radius:0;    background-color:rgba(154, 154, 154, 0.46);border:1px solid rgba(154, 154, 154, 0.46);overflow:hidden;height:100%;}
.s14img {overflow:hidden;border-radius:calc(0px - 1px);}
.s14imgimage {position:static;box-shadow:#000 0 0 0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}

/* data-reactid=".0.0.$s15" */
.s15_zoomedin {cursor:url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/cursor_zoom_out.png), url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/cursor_zoom_out.cur), auto;overflow:hidden;display:block;}
.s15_zoomedout {cursor:url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/cursor_zoom_in.png), url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/cursor_zoom_in.cur), auto;}
.s15link {display:block;overflow:hidden;}
.s15img {overflow:hidden;}
.s15imgimage {position:static;box-shadow:#000 0 0 0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}

/* data-reactid=".0.0.$s16"*/
.s16wrapper {min-width:180px;max-width:980px;max-height:1024px;position:absolute;width:100%;}
.s16 span {color:#494949;float:left;font:normal 14px 'Helvetica Neue', Helvetica, sans-serif;max-width:60%;}
.s16 span.s16_success {color:#72AB00;}
.s16 span.s16_error {color:#8B0000;}
.s16 button,.s16 input,.s16 textarea {border-radius:0;    padding:5px;}
.s16 input,.s16 textarea {font:normal normal normal 15px/1.3em helvetica-w01-light,helvetica-w02-light,sans-serif ;  background-color:rgba(154, 154, 154, 0.27);-webkit-appearance:none;-moz-appearance:none;border:0px solid rgba(255, 255, 255, 1);color:#494949;margin:0 0 5px;width:100%;}
.s16 input.s16_error,.s16 textarea.s16_error {font:normal normal normal 15px/1.3em helvetica-w01-light,helvetica-w02-light,sans-serif ;    border:1px solid #8B0000;color:#8B0000;}
.s16 input::-webkit-input-placeholder,.s16 textarea::-webkit-input-placeholder {color:#9A9A9A;}
.s16 input::-moz-placeholder,.s16 textarea::-moz-placeholder {color:#9A9A9A;}
.s16 input:-ms-input-placeholder,.s16 textarea:-ms-input-placeholder {color:#9A9A9A;}
.s16 input::placeholder,.s16 textarea::placeholder {color:#9A9A9A;}
.s16 button {background-color:rgba(114, 171, 0, 1);font:normal normal normal 17px/1.3em helvetica-w01-light,helvetica-w02-light,sans-serif ;  border:0;color:#FFFFFF;cursor:pointer;float:right;margin:0;max-width:35%;}
.s16 textarea {min-height:130px;resize:none;}
.s16[data-state~="mobile"] input {color:#494949;font-size:16px;height:45px;line-height:45px;margin:0 0 15px;padding:0 5px;}
.s16[data-state~="mobile"] input::-webkit-input-placeholder {color:#9A9A9A;font-size:16px;}
.s16[data-state~="mobile"] input::-moz-placeholder {color:#9A9A9A;font-size:16px;}
.s16[data-state~="mobile"] input:-ms-input-placeholder {color:#9A9A9A;font-size:16px;}
.s16[data-state~="mobile"] input::placeholder {color:#9A9A9A;font-size:16px;}
.s16[data-state~="mobile"] textarea {color:#494949;font-size:16px;height:150px;margin:0 0 10px;}
.s16[data-state~="mobile"]::-webkit-input-placeholder {color:#9A9A9A;font-size:16px;}
.s16[data-state~="mobile"]::-moz-placeholder {color:#9A9A9A;font-size:16px;}
.s16[data-state~="mobile"]:-ms-input-placeholder {color:#9A9A9A;font-size:16px;}
.s16[data-state~="mobile"]::placeholder {color:#9A9A9A;font-size:16px;}
.s16[data-state~="right"] {direction:rtl;text-align:right;}
.s16[data-state~="right"] span {float:right;}
.s16[data-state~="right"] button {float:left;}
.s16[data-state~="left"] {direction:ltr;text-align:left;}
.s16[data-state~="left"] span {float:left;}
.s16[data-state~="left"] button {float:right;}
.s16[data-state~="nameHidden"] .s16nameField,.s16[data-state~="emailHidden"] .s16emailField,.s16[data-state~="subjectHidden"] .s16subjectField,.s16[data-state~="phoneHidden"] .s16phoneField,.s16[data-state~="addressHidden"] .s16addressField,.s16[data-state~="messageHidden"] .s16messageField {display:none !important;}

/* data-reactid=".0.0.$mobileAppBanner" */
.mobileAppBannercontainer {position:relative;overflow:hidden;z-index:99;height:70px;background-color:#f2f2f2;border-bottom:1px solid #d7d7d7;}
.mobileAppBannercontainer > div {float:left;margin-left:10px;}
.mobileAppBannerclose > a {color:#777777;line-height:70px;font-family:Helvetica, sans-serif, Arial;font-size:14px;}
.mobileAppBannericonbody {width:40px;height:40px;margin-top:15px;border-radius:10px;display:inline-block;  background-size:cover;background-position:center;background-repeat:no-repeat;}
.mobileAppBannercontainer[data-device~="android"] .mobileAppBannericonbody {border-radius:3px;}
.mobileAppBannertext {color:#0d0d0d;line-height:20px;margin-top:15px;}
.mobileAppBannerappname {font-family:"Helvetica Neue", Helvetica, sans-serif, Arial;font-size:13px;font-weight:600;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;max-width:175px;}
.mobileAppBannertagline {font-family:"HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, sans-serif-light, Arial;font-size:13px;font-weight:normal;}
.mobileAppBannergetlink {color:#3798eb;line-height:normal;font-family:"HelveticaNeue-Medium", Helvetica, sans-serif, Arial;font-weight:600;font-size:13px;}
.mobileAppBannercontainer[data-device~="apple"] .mobileAppBannergetlink {font-weight:500;}
.mobileAppBannerbaselinehack {height:14px;line-height:0px;display:inline-block;}
.mobileAppBannerget {border:1px solid #3798eb;border-radius:3px;padding:3px 10px;display:inline-block;}
@media all and (max-width: 400px) and (min-width: 0px){.mobileAppBannerget {position:absolute;top:22.5px;right:10px;float:none !important;}}
@media all and (min-width: 401px){.mobileAppBannerget {margin-top:22.5px;margin-left:30px !important;}}

/* data-reactid=".0.0.$deadComp" */
.deadComp {background:transparent;}

/* data-reactid=".0.0.$siteBackground" */
.siteBackground {width:100%;position:absolute;}
.siteBackgroundbgBeforeTransition {position:absolute;top:0;}
.siteBackgroundbgAfterTransition {position:absolute;top:0;}

/* data-reactid=".0.0.$loginDialog" */
.loginDialog {position:fixed;width:100%;height:100%;z-index:99;font-family:Arial, sans-serif;font-size:1em;color:#9C9C9C;}
.loginDialogblockingLayer {background-color:rgba(85, 85, 85, 0.75);position:fixed;top:0;right:0;bottom:0;left:0;visibility:visible;zoom:1;overflow:auto;}
.loginDialogdialog {background-color:rgba(170, 170, 170, 0.7);width:455px;position:fixed;padding:20px;}
.loginDialog_wrapper {background-color:rgba(255, 255, 255, 1);padding:45px 40px 0 40px;}
.loginDialogxButton {position:absolute;top:-14px;right:-14px;cursor:pointer;background:transparent url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/viewer_login_sprite.png) no-repeat right top;height:30px;width:30px;}
.loginDialogxButton:hover {background-position:right -80px;}
.loginDialogheader {padding-bottom:25px;line-height:30px;}
.loginDialogfavIcon {float:left;margin:7px 7px 0 0;width:16px;height:16px;}
.loginDialogtitle {font-size:20px;font-weight:bold;color:#555555;}
.loginDialog[data-state~="mobile"] {position:absolute;width:100%;height:100%;z-index:99;font-family:Arial, sans-serif;font-size:1em;color:#9C9C9C;top:0;}
.loginDialog[data-state~="mobile"] .loginDialogheader {padding-bottom:10px;line-height:30px;}
.loginDialog[data-state~="mobile"] .loginDialogfavIcon {display:none;}
.loginDialog[data-state~="mobile"] .loginDialogtitle {font-size:14px;}
.loginDialog[data-state~="mobile"] .loginDialogdialog {width:260px;padding:10px;position:absolute;}
.loginDialog[data-state~="mobile"] .loginDialog_footer {margin-top:0;padding-bottom:10px;}
.loginDialog[data-state~="mobile"] .loginDialogcancel {font-size:14px;line-height:30px;}
.loginDialog[data-state~="mobile"] .loginDialog_wrapper {padding:14px 12px 0 12px;}
.loginDialog[data-state~="mobile"] .loginDialogsubmitButton {height:30px;width:100px;font-size:14px;}
.loginDialog_forgot {text-align:left;font-size:12px;}
.loginDialog_forgot a {color:#0198ff;border-bottom:1px solid #0198ff;}
.loginDialog_forgot a:hover {color:#0044ff;border-bottom:1px solid #0044ff;}
.loginDialog_error {font-size:12px;color:#d74401;text-align:right;}
.loginDialog_footer {width:100%;margin-top:27px;padding-bottom:40px;}
.loginDialogcancel {color:#9C9C9C;font-size:18px;text-decoration:underline;line-height:36px;}
.loginDialogcancel:hover {color:#9c3c3c;}
.loginDialogpasswordInput label {font-size:14px;}
.loginDialogpasswordInput label[data-type="password"] {font-size:14px;line-height:30px;height:30px;}
.loginDialogsubmitButton {float:right;cursor:pointer;border:solid 2px #0064a8;height:36px;width:143px;background:transparent url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/viewer_login_sprite.png) repeat-x right -252px;color:#ffffff;font-size:24px;font-weight:bold;box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);}
.loginDialogsubmitButton:hover {background-position:right -352px;border-color:#004286;}
.loginDialog[data-state="normal"] .loginDialogerror {display:none;}
.loginDialog[data-state="error"] .loginDialogerror {display:block;font-size:12px;color:#d74401;text-align:right;}
.loginDialog[data-state="error"] .loginDialogpasswordInput {border-color:#d74401;}
.loginDialogpasswordInput {font-size:1em;}
.loginDialogpasswordInput label {float:none;font-size:17px;line-height:25px;color:#585858;}
.loginDialogpasswordInput[data-state~="mobile"] label {float:none;font-size:14px;line-height:20px;color:#585858;}
.loginDialogpasswordInputinput {padding:0 15px;width:100%;height:42px;font-size:19px;line-height:42px;color:#0198ff;margin:0 -3px;background:transparent url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/viewer_login_sprite.png) repeat-x right -170px;border:solid 1px #a1a1a1;box-sizing:border-box;}
.loginDialogpasswordInput[data-state~="mobile"] .loginDialogpasswordInputinput {padding:0 15px;width:100%;height:30px;font-size:14px;line-height:30px;color:#0198ff;margin:0 -3px;background:transparent url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/viewer_login_sprite.png) repeat-x right -170px;border:solid 1px #a1a1a1;box-sizing:border-box;}
.loginDialogpasswordInputinput[data-type="password"] {font-size:38px;}
.loginDialogpasswordInput[data-state~="mobile"] .loginDialogpasswordInputinput[data-type="password"] {font-size:14px;}
.loginDialogpasswordInputerrorMessage {display:block;font-size:12px;color:#d74401;text-align:right;height:15px;}
.loginDialogpasswordInput:not([data-state~="invalid"]) .loginDialogpasswordInputerrorMessage {visibility:hidden;}
.loginDialogpasswordInput[data-state~="invalid"] .loginDialogpasswordInputerrorMessage {visibility:visible;}
.loginDialogpasswordInput[data-state~="invalid"] input {border-color:#d74401;}
.loginDialogpasswordInput[data-state~="invalid"] .loginDialogpasswordInputinput {border-color:red;}

/* data-reactid=".0.0.$strc1" */
.strc1inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;}

/* data-reactid=".0.0.$testStyle"*/
.testStyles {position:absolute; display: none; z-index: 9}
